@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --breakpoint-ms: 320px;
  --breakpoint-mm: 375px;
  --breakpoint-ml: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-dark-lavender: oklch(70% 0.2 290);
  --color-dark-deep-violet: oklch(50% 0.3 280);
  --color-dark-midnight: oklch(15% 0.02 288);
  --color-dark-onyx: oklch(20% 0.03 290);
  --color-dark-slate: oklch(27% 0.05 290);
  --color-dark-shadow: oklch(35% 0.07 290);
  --color-dark-storm: oklch(50% 0.08 290);
  --color-dark-twilight: oklch(75% 0.07 290);
  --color-dark-glacier: oklch(86% 0.06 290);
  --color-dark-frost: oklch(93% 0.04 290);
  --color-dark-ice: oklch(97% 0.02 290);

  --color-light-violet: oklch(50% 0.3 290);
  --color-light-lavender: oklch(70% 0.2 290);
  --color-light-snow: oklch(96% 0.03 290);
  --color-light-mist: oklch(93% 0.04 290);
  --color-light-cloud: oklch(87% 0.05 290);
  --color-light-fog: oklch(82% 0.06 290);
  --color-light-dusk: oklch(70% 0.07 290);
  --color-light-charcoal: oklch(35% 0.05 290);
  --color-light-graphite: oklch(28% 0.04 290);
  --color-light-ash: oklch(20% 0.03 290);
  --color-light-obsidian: oklch(16% 0.02 290);

  --text-h1: 4.209rem;
  --text-h2: 3.157rem;
  --text-h3: 2.369rem;
  --text-h4: 1.777rem;
  --text-h5: 1.333rem;
  --text-h6: 1rem;
  --text-p: 1rem;
  --text-p0: 0.75rem;
  --text-small: 0.563rem;
  --text-mini: 0.422rem;
  --text-4xl: 2.25rem;
  --text-3xl: 1.875rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;

  --leading-h1: 5.05rem;
  --leading-h2: 3.8rem;
  --leading-h3: 2.9rem;
  --leading-h4: 2.2rem;
  --leading-h5: 1.7rem;
  --leading-h6: 1.3rem;
  --leading-p: 1.5rem;
  --leading-p0: 1.25rem;
  --leading-small: 1rem;
  --leading-mini: 0.85rem;
  --leading-4xl: 2.75rem;
  --leading-3xl: 2.5rem;
  --leading-2xl: 2.25rem;
  --leading-xl: 1.75rem;
  --leading-lg: 1.5rem;
  --leading-base: 1.375rem;
  --leading-sm: 1.25rem;
  --leading-xs: 1.125rem;

  --font-Roboto: Roboto, sans-serif;
  --font-Lato: Lato, sans-serif;

  --animate-rotate-left: rotateLeft ease-in 1s alternate;
  --animate-rotate-right: rotateRight ease-in 1s alternate;
  --animate-rotate-left-logo: rotateLeft linear 160s alternate infinite;
  --animate-rotate-right-logo: rotateRight ease-in-out 15s alternate infinite;
  --animate-tools-slide-in: toolsSlideIn 0.5s ease-in-out forwards;
  --animate-tools-slide-out: toolsSlideOut 0.5s ease-in-out forwards;
  --animate-cookies-slide-out: cookiesSlideOut 0.5s ease-in-out forwards;
  --animate-cookies-slide-in: cookiesSlideIn 0.5s ease-in-out forwards;
  --animate-theme-switch-slide-in: themeInAnimation 0.5s ease-in-out forwards;
  --animate-theme-switch-slide-out: themeOutAnimation 0.5s ease-in-out forwards;
  --animate-slide-in-from-top: slideDown 0.5s ease-in-out;
  --animate-slide-in-from-bottom: slideUp 0.5s ease-in-out forwards;
  --animate-appear: appear 0.5s ease-in-out;
  --animate-cosmos-appear: appear 2s ease-in-out;
  --animate-page-appear-right: slideInRight 0.6s ease-in-out forwards;
  --animate-page-appear-left: slideInLeft 0.3s ease-in-out;
  --animate-cog-spin: cogSpin 10s cubic-bezier(0, 1.6, 0.68, 1.1) infinite
    forwards;
  --animate-return-cog-spin: rotateLeft 0.5s ease-out forwards;
  --animate-out-cog-spin: rotateRight 0.5s ease-out forwards;
  --animate-cookie-shake: cookieShake 2s ease-in-out infinite forwards;
  --animate-splash-screen-out: splashScreenDissapear 1.5s ease-in-out forwards;
  --animate-blur-in-out: blurInOut 0.3s ease-in-out forwards;
  --animate-blur-in-out-heavy: blurInOutHeavy 0.3s ease-in-out forwards;
  --animate-color-change: color-change-5x 16s linear infinite alternate both;

  @keyframes filler {
  }

  @keyframes color-change-5x {
    0% {
      background: var(--color-light-snow);
    }
    20% {
      background: var(--color-dark-lavender);
    }
    40% {
      background: var(--color-dark-storm);
    }
    60% {
      background: var(--color-dark-onyx);
    }
    80% {
      background: var(--color-light-violet);
    }
    100% {
      background: var(--color-light-dusk);
    }
  }

  @keyframes buttonHover {
    0% {
      color: #c9fef5;
    }
    50% {
      color: #22555c;
    }
    100% {
      color: #c9fef5;
    }
  }

  @keyframes glow {
    0% {
      opacity: 30%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes slideRight {
    0% {
      translate: -100%;
      opacity: 0%;
    }
    100% {
      translate: 0%;
      opacity: 100%;
    }
  }
  @keyframes slideLeft {
    0% {
      translate: 100%;
      opacity: 0%;
    }
    100% {
      translate: 0%;
      opacity: 100%;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(0%);
      opacity: 100%;
    }
    100% {
      translate: translateY(100%);
      opacity: 0%;
    }
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0%;
    }
    100% {
      translate: translateY(0%);
      opacity: 100%;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes splashScreenDissapear {
    0% {
      /* filter: blur(12px) */
      /* transform: translateX(-100%); */
      opacity: 100%;
      display: flex;
    }
    100% {
      /* filter: blur(0px) */
      /* transform: translateX(100%); */
      opacity: 0%;
      display: none;
    }
  }
  @keyframes themeInAnimation {
    0% {
      translate: -100%;
      scale: 0;
      opacity: 0%;
      display: hidden;
    }
    100% {
      translate: -0%;
      scale: 1;
      opacity: 100%;
      display: block;
    }
  }
  @keyframes themeOutAnimation {
    0% {
      translate: -0%;
      scale: 1;
      opacity: 100%;
      display: hidden;
    }
    100% {
      translate: -100%;
      scale: 0;
      opacity: 0%;
      display: block;
    }
  }
  @keyframes slideInRight {
    0% {
      translate: -100%;
      opacity: 0%;
      display: hidden;
    }
    100% {
      translate: -0%;
      opacity: 100%;
      display: block;
    }
  }
  @keyframes slideInLeft {
    0% {
      translate: 100%;
      opacity: 0%;
      display: hidden;
    }
    100% {
      translate: 0%;
      opacity: 100%;
      display: block;
    }
  }
  @keyframes slideOutRight {
    0% {
      translate: -0%;
      opacity: 100%;
      display: hidden;
    }
    100% {
      translate: -100%;
      opacity: 0%;
    }
  }
  @keyframes slideOutLeft {
    0% {
      translate: 0%;
      opacity: 100%;
      display: hidden;
    }
    100% {
      translate: 50%;
      opacity: 0%;
      display: block;
    }
  }
  @keyframes toolsSlideIn {
    0% {
      translate: 0% -280%;
      display: hidden;
    }
    100% {
      translate: 0% 0%;
      display: fixed;
    }
  }
  @keyframes toolsSlideOut {
    0% {
      translate: 0% 0%;
      display: fixed;
    }
    100% {
      translate: -200% 0%;
      display: hidden;
    }
  }
  @keyframes cookiesSlideOut {
    0% {
      translate: 100% 0%;
    }
    100% {
      translate: 0% 0%;
    }
  }
  @keyframes cookiesSlideIn {
    0% {
      translate: 0% 0%;
    }
    100% {
      translate: 100% 0%;
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes reverseScroll {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
  @keyframes rotateLeft {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  @keyframes rotateRight {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes cogSpin {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(36deg);
    }
    20% {
      transform: rotate(72deg);
    }
    30% {
      transform: rotate(108deg);
    }
    40% {
      transform: rotate(144deg);
    }
    50% {
      transform: rotate(180deg);
    }
    60% {
      transform: rotate(216deg);
    }
    70% {
      transform: rotate(252deg);
    }
    80% {
      transform: rotate(288deg);
    }
    90% {
      transform: rotate(324deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes cookieShake {
    0% {
      transform: rotate(0deg) scale(1);
    }
    20% {
      transform: rotate(10deg) scale(1.1);
    }
    30% {
      transform: rotate(-20deg) scale(1.1);
    }
    40% {
      transform: rotate(20deg) scale(1.1);
    }
    50% {
      transform: rotate(-30deg) scale(1.1);
    }
    60% {
      transform: rotate(20deg) scale(1.1);
    }
    70% {
      transform: rotate(-20deg) scale(1.1);
    }
    80% {
      transform: rotate(-10deg) scale(1.1);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
  }

  @keyframes blurInOut {
    0% {
      filter: blur(10px);
    }
    100% {
      filter: blur(0px);
    }
  }

  @keyframes blurInOut {
    0% {
      filter: blur(10px);
    }
    100% {
      filter: blur(0px);
    }
  }

  @keyframes blurInOutHeavy {
    0% {
      filter: blur(15px);
    }
    100% {
      filter: blur(0px);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  @tailwind;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  @layer components {
    /* @tailwind; */
    .color_palette_gradient {
      background: linear-gradient(
        to right,
        var(--color-light-snow),
        var(--color-light-mist),
        var(--color-light-cloud),
        var(--color-light-fog),
        var(--color-light-dusk),
        var(--color-light-charcoal),
        var(--color-light-graphite),
        var(--color-light-ash),
        var(--color-light-obsidian)
      );
    }
    .color_palette_gradient_dark {
      background: linear-gradient(
        to right,
        var(--color-dark-midnight),
        var(--color-dark-onyx),
        var(--color-dark-slate),
        var(--color-dark-shadow),
        var(--color-dark-storm),
        var(--color-dark-twilight),
        var(--color-dark-glacier),
        var(--color-dark-frost),
        var(--color-dark-ice)
      );
    }

    .interactive-box {
      @apply transition duration-200 ease-linear hover:scale-[1.05] active:scale-95 rounded-sm;
    }

    .button-style {
      @apply sm:text-p text-sm sm:leading-p leading-sm rounded-full transition duration-200 ease-linear hover:scale-[1.05] active:scale-95 px-6 py-4 font-bold uppercase shadow-lg cursor-pointer flex justify-center items-center;
    }

    .button-style-alternative {
      @apply text-p0 leading-p0 rounded-full transition duration-200 ease-linear hover:scale-[1.05] active:scale-95 px-4 py-2 font-bold uppercase shadow-lg cursor-pointer flex justify-center items-center;
    }

    .glass-morphism {
      @apply bg-light-cloud/50 hover:bg-light-mist/60 
             border border-light-dusk 
             dark:bg-dark-onyx/50 dark:hover:bg-dark-shadow/60 
             dark:border-dark-shadow backdrop-blur-[2px];
    }

    .glass-morphism-plain {
      @apply bg-light-mist/50 transition duration-200
             dark:bg-dark-onyx/70 backdrop-blur-sm;
    }

    .glass-morphism-section {
      @apply bg-light-cloud/50 
             dark:bg-dark-onyx/50 backdrop-blur-[2px] transition;
    }

    .glass-morphism-card {
      @apply bg-light-cloud/50 hover:bg-light-mist/60 
             border border-light-dusk
             dark:bg-dark-onyx/50 dark:hover:bg-dark-shadow/60 
             dark:border-dark-shadow backdrop-blur-[2px] transition;
    }

    .glass-morphism-card-alternative {
      @apply bg-light-cloud/50 hover:bg-light-mist/60 
             border border-light-dusk
             dark:bg-dark-storm/30 dark:hover:bg-dark-storm/80 
             dark:border-dark-shadow backdrop-blur-[2px];
    }

    .glass-morphism-tool_bar {
      @apply bg-light-cloud/50 hover:bg-light-mist/60 backdrop-blur-sm
             border border-light-dusk border-b-2 border-l-0 dark:bg-dark-onyx/50 dark:hover:bg-dark-shadow/60 dark:border-dark-shadow
             rounded-r-4xl p-3 pr-5;
    }

    .glass-morphism-button {
      @apply bg-light-snow text-light-ash hover:bg-light-violet hover:text-light-snow outline outline-light-dusk hover:outline-hidden dark:bg-dark-onyx/70 dark:text-dark-frost dark:hover:bg-dark-lavender/90  dark:outline-dark-shadow backdrop-blur-sm;
    }

    .glass-morphism-button-inverse {
      @apply bg-light-violet text-light-snow hover:bg-light-snow hover:text-light-ash outline-light-dusk hover:outline
             dark:bg-dark-lavender/90 dark:text-dark-frost dark:hover:bg-dark-onyx/70 dark:hover:text-dark-ice 
             dark:outline-dark-shadow backdrop-blur-sm;
    }

    .glass-morphism-inverse {
      @apply bg-light-dusk/60 hover:bg-light-cloud/50 
             border border-light-charcoal 
             dark:bg-dark-twilight/50 dark:hover:bg-dark-glacier/60 
             dark:border-dark-shadow backdrop-blur-sm;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}

.scroll-into-view {
  animation: appearing 2s ease forwards;
  /* You can customize the animation properties (duration, timing function, etc.) */
}

@keyframes appearing {
  from {
    opacity: 0;
    /* scale: 0; */
  }
  to {
    /* scale: 1; */
    opacity: 1;
  }
}

.gradient-container {
  position: relative;
  background-color: none;
}

.service_icon {
  text-shadow:
    0px 0px 5px var(--color-dark-frost),
    0px 0px 10px var(--color-dark-ice),
    0px 0px 15px var(--color-dark-shadow),
    0px 0px 20px var(--color-dark-frost);
}
