@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-into-view {
  animation: appearing 2s ease forwards;
  /* You can customize the animation properties (duration, timing function, etc.) */
}

@keyframes appearing {
  from {
    opacity: 0;
    /* scale: 0; */
  }
  to {
    /* scale: 1; */
    opacity: 1;
  }
}


.gradient-container {
  position: relative;
  background-color: none;
}

.service-card {
  /* overflow: hidden; */
  /* background: linear-gradient(to right, #ff7eb3, #ff758c, #ff6b66, #ff6240);  */
  /* border-radius: 0.375rem */
}